/* src/App.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
}

.App {  
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}