.orders-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .orders-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .order-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .order-details {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
  }
  
  .order-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .order-item img {
    width: 100px;
    height: auto;
    max-width: 100px;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .order-item-details {
    flex-grow: 1;
  }
  
  .order-item-details span {
    display: block;
    margin-bottom: 5px;
  }
  
  .order-total {
    text-align: right;
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .orders-container {
      padding: 10px;
    }
  
    .order-card {
      text-align: center;
    }
  
    .order-item {
      flex-direction: column;
      align-items: center;
    }
  
    .order-item img {
      width: 80px; /* Ajustar el tamaño en pantallas pequeñas */
      max-width: 80px; /* Limitar el ancho máximo en pantallas pequeñas */
      height: auto;
      margin-bottom: 10px;
    }
  
    .order-item-details {
      text-align: center;
    }
  
    .order-total {
      display: flex;
      justify-content: right;
    }
  }
  