.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Alinea el texto al centro */
}

.cart-header {
  text-align: center;
  margin-bottom: 20px;
}

.cart-total {
  text-align: center; /* Cambia el texto total al centro */
  font-size: 1.2em;
  margin-bottom: 20px;
}

.cart-items {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos del carrito */
}

.cart-item {
  display: flex;
  flex-direction: column; /* Cambia la dirección del flex para pantallas pequeñas */
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%; /* Asegura que el elemento ocupe todo el ancho */
  max-width: 600px; /* Limita el ancho máximo */
}

.cart-item img {
  width: 150px;
  height: auto;
  max-width: 150px; /* Limita el ancho máximo */
  margin-bottom: 10px; /* Ajusta el margen */
}

.cart-item-details {
  text-align: center; /* Centra el texto */
  margin-bottom: 10px;
}

.cart-item-details span {
  display: block;
  margin-bottom: 5px;
}

.cart-item-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart-item-actions button {
  background-color: #44c7f4;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-item-actions button:hover {
  background-color: #2ca3d1;
}

.cart-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.address-input-container {
  width: 100%;
  max-width: 600px; /* Limita el ancho máximo */
  margin-bottom: 20px;
}

.address-input-container label {
  display: block;
  margin-bottom: 5px;
}

.address-input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.clear-cart-button {
  width: 100%;
  max-width: 600px; /* Limita el ancho máximo */
  padding: 10px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.clear-cart-button:hover {
  background-color: #333;
}

.confirm-order-button {
  width: 100%;
  max-width: 600px; /* Limita el ancho máximo */
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.confirm-order-button:hover {
  background-color: #45a049;
}

@media (min-width: 769px) {
  .cart-item {
    flex-direction: row; /* Cambia la dirección del flex para pantallas grandes */
    align-items: center;
    justify-content: space-between;
  }

  .cart-item img {
    margin-right: 20px;
    margin-bottom: 0; /* Elimina el margen inferior */
  }

  .cart-item-details {
    text-align: left; /* Alinea el texto a la izquierda */
    margin-bottom: 0; /* Elimina el margen inferior */
  }

  .cart-item-actions {
    justify-content: flex-start;
    margin-top: 0; /* Elimina el margen superior */
  }
}

@media (max-width: 768px) {
  .cart-item {
      flex-direction: column;
      align-items: center;
  }

  .cart-item img {
      width: 200px; /* Ajustar el tamaño en pantallas pequeñas */
      max-width: 200px; /* Limitar el ancho máximo en pantallas pequeñas */
      height: auto;
      margin-bottom: 10px;
  }

  .cart-item-actions {
      width: 100%;
      text-align: center;
      margin-top: 10px;
  }

  .cart-actions {
      flex-direction: column;
  }

  .clear-cart-button,
  .confirm-order-button {
      width: 100%;
      margin-bottom: 10px;
  }
}
