.top-bar {
    width: 100%;
    background-color: #00377b;
    color: white;
    padding: 5px;
  }
  
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .menu-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin-right: 16px;
  }
  
  .title {
    flex-grow: 1;
    font-size: 24px;
  }
  
  .topbar-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
  }

  .options-container {
    display: flex;
    gap: 20px;
  }

  .logo {
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .options-container {
      gap: 2px;
    }
    
  }
  