.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
  }
  
  .card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  
  .card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .card-price {
    font-size: 16px;
    color: #b12704;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .add-to-cart-button {
    background-color: #44c7f4;
    border: 1px solid #2ca3d1;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    text-align: center;
  }
  
  .add-to-cart-button:hover {
    background-color: #2ca3d1;
  }
  
  
  .product-list-container {
    padding: 20px;
    margin: 0 auto;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .product-list-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-list-container p {
    text-align: center;
    margin-bottom: 30px;
  }

  .products-header{
    text-align: center;
    margin-bottom: 20px;
  }